<div id="<%= dom_id purchase_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Order number:</strong>
    <%= purchase_order.order_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">External order:</strong>
    <%= purchase_order.external_order_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Po type:</strong>
    <%= purchase_order.po_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= purchase_order.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Business unit:</strong>
    <%= purchase_order.business_unit %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order date:</strong>
    <%= purchase_order.order_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Receipt date:</strong>
    <%= purchase_order.receipt_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated lpn:</strong>
    <%= purchase_order.estimated_lpn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= purchase_order.tenant_id %>
  </p>

</div>
